*{
  margin: 0px;
  padding: 0px;
}
.header{
  margin-top: 15px;
}
h1{
  display: inline-block;
  color: #337ab7;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
li{
  text-align: right;
}
.navBtn{
  margin-top: 15px;
}
p{
  font-size: 115%;
}
main{
  margin-top: 100px;
}
main div{
  display: inline-block;
}
button a{
  color: white;
}
.shade-image{
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 10px;
  width: 100%;
}
.webpage{
  height: 25vh;
}
.logo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.details{
  display: inline-block;
  height: 20vh;
}
.title-and-thumbnail{
  display: inline-block;
  height: 35vh;
}
.title-and-thumbnail-and-details{
  display: block;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
.details-p{
  height: 60%;
}
.tech-logos{
  text-align: center;
  
}
.app-title{
  display: inline-block;
  height: 10vh;
}
.flex-container {
  display: flex;
  justify-content: center;
}
